*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #006a4e;
    text-align: center;
}
.container{
    height: 70vh;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.game
{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 4rem;
    border: none;
    background-color: red;
    font-size: 8vmin;
    color: blue;
}

#reset
{
    background-color: black;
    padding: 1rem;
    font-size: 1.25rem;
    border:none;
    color:aqua;
    border-radius: 1rem;
}

#new-button
{
    background-color: black;
    padding: 1rem;
    font-size: 1.25rem;
    border:none;
    color:aqua;
    border-radius: 1rem;
}

#msg{
    color:blue;
    font-size: 5vmin;
}

.msg-container
{
    height: 30vmin;
}

.hide
{
    display: none;
}